python-dev-tools
libldap2-dev 
libssl-dev
falcon
falcon-cors
gevent
ujson
sqlalchemy
PyYAML==5.3.1
PyMYSQL
python-ldap
phonenumbers
jinja2
streql
webassets
beaker
cryptography
pytz
irisclient
slackclient
icalendar
pymsteams
prometheus_client
pytest
pytest-mock
requests
gunicorn
flake8
Sphinx
sphinxcontrib-httpdomain
sphinx_rtd_theme
sphinx-autobuild
